@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Prompt;
}

h1 {
  @apply font-medium;
  font-size: 32px;
  line-height: 150%;
}

h2 {
  @apply font-medium text-xl;
  line-height: 150%;
}

h3 {
  @apply font-normal text-xl;
  line-height: 150%;
}

h4 {
  @apply font-medium text-lg;
  line-height: 150%;
}

h5 {
  @apply font-medium text-base;
  line-height: 150%;
}

/* Button Primary */

.btn-primary {
  @apply font-medium text-base py-2.5 px-6 rounded-lg bg-blue600 text-white;
}

.btn-primary:hover {
  @apply bg-blue500;
}

.btn-primary:active {
  @apply bg-blue800;
}
.btn-primary:disabled,
btn-primary[disabled] {
  @apply bg-grey300 text-grey100;
}

/* Button Secondary */

.btn-secondary {
  @apply font-medium text-base py-2.5 px-6 rounded-lg border border-blue600 bg-white text-blue600;
}

.btn-secondary:hover {
  @apply text-blue400 border-blue400 bg-white;
}

.btn-secondary:active {
  @apply text-blue800 border-blue800 bg-white;
}
.btn-secondary:disabled,
btn-secondary[disabled] {
  @apply text-grey400 border-grey400 bg-grey100;
}

a {
  @apply font-semibold text-base underline underline-offset-auto text-blue600;
}

a:hover {
  @apply text-blue400;
}

a:active {
  @apply text-blue800;
}

input {
  @apply placeholder:text-grey700 border rounded-lg border-grey300;
  width: 360px;
  height: 44px;
  padding: 10px 0px 10px 16px;
}

input:focus {
  @apply placeholder:text-grey950 border-blue600 outline-none;
}

label {
  @apply text-grey900;
}

input:valid {
  @apply placeholder:text-grey950 border-grey300 outline-none;
}

input[type="checkbox"] {
  @apply w-6 h-6 mr-4 border-grey300 rounded-md hover:border-blue600;
}

.dropdown {
  overflow: hidden;
  @apply text-base border-0 outline-0 m-0 float-left;
}

.dropdown-content {
  @apply hidden absolute bg-white rounded-lg pt-1 mt-1 mb-1;
  box-shadow: 2px 2px 24px rgba(23, 51, 106, 0.12);
  width: 180px;
  height: 164px;
  z-index: 1;
}

.dropdown-content a {
  @apply float-none pt-2 pb-2 block text-left text-grey800 text-sm font-normal;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  @apply block;
}
