@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Prompt;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

/* Button Primary */

.btn-primary {
  @apply font-medium text-base py-2.5 px-6 rounded-lg bg-blue600 text-white;
}

.btn-primary:hover {
  @apply bg-blue500;
}

.btn-primary:active {
  @apply bg-blue800;
}
.btn-primary:disabled,
btn-primary[disabled] {
  @apply bg-grey300 text-grey100;
}

a {
  @apply font-semibold text-base underline underline-offset-auto text-blue600;
}

a:hover {
  @apply text-blue400;
}

a:active {
  @apply text-blue800;
}
